.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
    padding: 60px 0 0 0;
}

@media screen and (max-width: 750px) {
    .imageUploader {
        display: none;
    }
}