.wrapper {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.statisticsWrapper {
    display: flex;
    width: fit-content;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.reviewsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 500px;
    gap: 25px;
}

.reviews {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
}

.reviewsTitle {
    font-family: var(--textFont);
    font-size: 1.6em;
    margin-bottom: 10px;
    text-align: center;
}

.noreviews {
    font-family: var(--textFont);
    color: 2em;
    text-align: center;
    font-weight: 500;
}

.ourReviewTitle {
    font-family: var(--textFont);
    font-size: 1.2em;
    margin-bottom: 10px;
    text-align: center;
}

