.wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    font-size: 1.2rem;
    gap: 5px;
}

.pagination .pageNum {
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 400;
}

.pagination .pageNum:hover {
    background-color: #548108;
    color: white
}

