.burgerWrapper {
    display: none;
    position: relative;
    width: 36px;
    height: 36px;
    justify-self: flex-end;
}

.burgerWrapper {
    -webkit-tap-highlight-color: transparent;
}

.burgerNavbarList {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.burgerNavbarItem {
    position: relative;
    padding: 15px 0;
}

.burgerNavbarItem > * {
    color: var(--color3);
    text-decoration: none;
    font-family: var(--textFont);
    font-weight: 500;
    font-size: 1.3em;
    text-align: center;
}

.burgerNavbarItem:not(:last-child) > *::after {
    content: '';
    position: absolute;
    width: 100%;
    background-color: var(--color3);
    bottom: 0px;
    left: 0px;
    height: 2px;
}

.burgerNavbarItem {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 777px) {
    .burgerWrapper {
        display: block;
    }
}