.wrapper {
    width: 1000px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: var(--textFont);
    font-size: 1.8em;
}

.add {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: transparent;
    outline: none;
    border: none;
    border-radius: 50px;
    border: 4px dashed var(--color1);
    background-color: var(--color3);
    border-radius: 50px;
    padding: 50px;
    transition: opacity 0.1s ease;
}

.add:hover {
    opacity: 0.7;
}

.add:active {
    opacity: 1
}

.image {
    max-width: 600px;
    max-height: 300px;
    object-fit: contain;
}

.imageWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.imageButtonsWrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* .imageRemove {
    border: 3px solid var(--color4);
    color: var(--color4);
}

.imageUpdate {
    border: 2px solid var(--color5);
    color: var(--color5);
}

.imageOk {
    border: 2px solid var(--color6);
    color: var(--color6);
} */

.imageRemove {
    background-color: var(--color4);
    color: var(--color3);
}

.imageUpdate {
    background-color: var(--color5);
    color: var(--color3);
}

.imageOk {
    background-color: var(--color6);
    color: var(--color3);
}

.imageRemove,
.imageUpdate,
.imageOk {
    /* background-color: transparent; */
    border: none;
    outline: none;
    padding: 5px 15px;
    border-radius: 10px;
    transition: opacity 0.1s ease;
    cursor: pointer;
}

.imageRemove:hover,
.imageUpdate:hover,
.imageOk:hover {
    opacity: 0.7;
}

.imageRemove:active,
.imageUpdate:active,
.imageOk:active {
    opacity: 1;
}

.text {
    color: var(--color0);
}