.header {
    width: 100%;
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    background-color: var(--color3);
    box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: var(--containerWidth);
    height: 40px;
}