html {
    --color0: #4A578A;
    --color1: #7286D3;
    --color2: #8EA7E9;
    --color3: #E5E0FF;
    --color4: #FFF2F2;
    --color5: lightcoral;
    --textFont: 'Roboto', sans-serif;
    --containerWidth: 1280px;
}