html {
    --color0: #20242c;
    --color1: #7a26c1;
    --color2: #6936f5;
    --color3: #fbfcf8;
    --color4: #c34a43;
    --color5: #F99E1E;
    --color6: #51A351;
    --textFont: 'Roboto', sans-serif;
    --containerWidth: 1280px;
}